<h3>Create a new survey.</h3>

<form action="/surveys" method="post">
  <label for="name">Survey name.</label>
  <input type="text" name="name" id="name">

  <button type="submit" >Add survey.</button>
</form>
